html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Courier New', serif;
    color: black;
    min-width: 800px;
}

.bHeader {
    height: 72px;
    border-bottom: 1px solid rgb(229,229,229);
    background: rgb(241,241,241);

    &__eTitle {
        line-height: 74px;
        height: 72px;
        float: left;
        margin: 0 0 0 52px;
        font-size: 30px;
        font-weight: normal;
    }

    &__eFBLike {
        float: left;
        line-height: 20px;
        padding-left: 26px;
        padding-top: 28px;
        height: 72px;
    }

    &__eMenu {
        text-align: right;
        line-height: 74px;
        height: 72px;
        margin: 0 32px 0 0;
        font-size: 12px;
        &Item {
            color: black;
            text-decoration: none;

            &__mType_dropdown {
                padding: 0 11px 0 0;
                background: url('img/triangle.png') right center no-repeat;
            }
        }
    }
}

@footer_height: 28px;
@footer_line_height: @footer_height - 1;

.bFooter {
    height: @footer_height;
    border-top: 1px solid rgb(229,229,229);
    background: rgb(241,241,241);
    font-size: 12px;
    padding: 0 0 0 52px;
    line-height: @footer_line_height;
    clear: both;
    position: relative;
    &__eMetrika {
        position: absolute;
        top: 5px;
        right: 52px;
        height: @footer_height - 5;
        line-height: @footer_line_height - 5;
    }
}
.bContent {
    min-height: 100%;
    margin-bottom: -@footer_height - 1;
    &__eMenu {
        margin: 40px 0 0 52px;
        &Item {
            font-size: 14px;
            line-height: 14px;
            margin: 0 50px 0 0;
            &__mState_active {
                color: black;
                text-decoration: none;
                cursor: default;
            }
        }
    }

    &__eColumn {
        float: left;
        width: 50%;
    }

    &__eForm {
        box-sizing: border-box;
        padding: 20px 5px 20px 44px;

        &MainInput {
            resize: vertical;
            width: 100%;
            box-sizing: border-box;
            height: 130px;
        }

        &Hint {
            font-size: 14px;
            line-height: 14px;
            margin: 14px 0 0 8px;
            color: rgb(88,88,88);
        }
    }

    &__eOutput {
        box-sizing: border-box;
        padding: 20px 44px 20px 5px;
        &Text {
            min-height: 130px;
            background: rgb(245, 245, 245);
            box-sizing: border-box;
            padding: 20px 40px;
            font-size: 12px;
        }
    }

    &__eTab {
        display: none;
        &Text {
            padding: 30px 52px 52px 52px;
            font-size: 13.2px;
            p {
                margin: 0 0 1em 0;
                max-width: 800px;
            }
        }
        &__mState_active {
            display: block;
        }
    }

    &__eWordsList {
        display: none;
        padding: 20px 52px;
        font-size: 0px;
        line-height: 14px;

        &__mState_open {
            display: block;
        }
        &Item {
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            margin: 4px 18px 4px 0;
            padding: 1px 4px;
            -webkit-transition: -webkit-transform 0.4s;
            -moz-transition: -moz-transform 0.4s;
            transition: transform 0.4s;
            position: relative;
            font-size: 12px;
            line-height: 14px;

            &:hover {
                background-color: #fff8f8;
                border-color: #cc8888;
                margin-right: 8px;
                padding-right: 14px;
            }
            &:hover:after {
                bottom: -1px;
                color: #bb7777;
                content: "×";
                font-weight: bold;
                line-height: 14px;
                padding: 1px 4px;
                position: absolute;
                right: 0;
                top: 1px;
            }

            &.mHide {
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                transform: scaleX(0);
            }
        }
        &Input {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: 0;
            color: #0a0;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            font-family: 'Courier New',serif;
            font-size: 12px;
            line-height: 14px;
            margin: 4px 8px 4px 0;
            padding: 2px 5px;
            box-shadow: none;
            outline: 0;

            &:focus {
                cursor: auto;
                color: #000;
                font-weight: normal;
            }
        }
    }
}
.bStopWord {
    background: yellow;
    font-weight: bold;
}
