!!!
html
    head
        title Стоп-слов нет
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(href='global.css', rel='stylesheet')
        script(type="text/javascript", src="global.js")
        script
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=487878381246644";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    body
        .bContent
            header.bHeader
                h1.bHeader__eTitle Стоп-слов нет
                .fb-like.bHeader__eFBLike(data-href="https://www.facebook.com/stopslov.net", data-width="450", data-show-faces="false", data-send="false")
                nav.bHeader__eMenu
                    a.bHeader__eMenuItem.bHeader__eMenuItem__mType_dropdown#listOpener(href="#") Открыть список стоп-слов
            .bContent__eWordsList Слова

            nav.bContent__eMenu
                a.bContent__eMenuItem.bContent__eMenuItem__mState_active(href="#") Маркер
                a.bContent__eMenuItem(href="#") Про стоп-слова
                a.bContent__eMenuItem(href="#") О сервисе
            .bContent__eTab.bContent__eTab__mState_active
                form.bContent__eForm#mainForm
                    textarea.bContent__eFormMainInput#mainInput
                    label.bContent__eFormHint Введите или скопируйте текст
                .bContent__eOutput
                    .bContent__eOutputText

            .bContent__eTab
                .bContent__eTabText Стоп-слова — это слова, которые нельзя или не рекомендовано использовать
                    br
                    | в тексте. Обычно они не несут никакого смысла и служат только балластом.
            .bContent__eTab
                .bContent__eTabText — На этой странице кроме этого текста пока ничего нет.
                    br
                    | — Спасибо, кэп!


        footer.bFooter
            | Идея: 
            a.bFooter__eLink(href="http://egerev.ru") Кирилл Егерев
            |  |  Реализация: 
            a.bFooter__eLink(href="https://github.com/maikudou") Михаил Лабанов

